/* PC */
@media (min-width: 1240px) {
    html{
        font-size: 62.5%;
    }
    .hide-on-PC{
        display: none;
    }
}

/* Small PC */
@media (min-width: 1024px) and (max-width: 1239px) {

}

/* Tablet */
@media screen and (max-width: 1023px) {
    html{
        font-size: 56.25%;
    }
    .hide-on-tablet{
        display: none;
    }
    .display-on-tablet{
        display: block;
    }
    .display-f-on-tablet{
        display: flex;
    }
    .header-search{
        flex: 1;
    }
    .header-search-input{
        flex: 1;
    }
    .mobile.header-nav-list{
        display: flex;
    }
}

/* Small tablet */
@media screen and (max-width: 767px) {
    html{
        font-size: 50%;
    }
    .header-nav-item{
        padding: 1.4rem 1rem;
    }
    .mobile-header-nav-left{
        padding: 1.4rem 1rem;
    }
    .auth-form{
        width: 45rem;
    }
}

/* Mobile */
@media screen and (max-width: 479px) {
    .auth-form{
        width: 36rem;
    }
}

