*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: #dbdbdb;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.header{
    background-color: var(--primary-color);
    position: relative;
}

.header-top{
    display: none;
    text-align: center;
}

.header-logo{
    padding-top: 1rem;
    font-size: 3rem;
}

.header-logo-link{
    color: var(--tertiary-color);
    font-size: 3rem;
}

.header-bottom{
    display: flex;
    justify-content: space-between;
}

.header-nav-list{
    display: flex;
}

.header-nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem 2rem;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s;
}

.header-nav-item:hover{
    background-color: var(--primary-sub-color);
}

.header-nav-link{
    color: var(--white-color);
}

.header-nav-right{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.header-search{
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

.header-search-input{
    padding: 0.6rem 1.4rem;
    border-radius: 0.8rem;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.6);
    margin-right: 0.4rem;
}

.header-search-icon{
    color: var(--white-color);
}

.mobile-header-nav-left{
    display: none;
    color: var(--white-color);
    padding: 1.6rem 1.4rem;
}

.mobile-header-menu{
    cursor: pointer;
    font-size: 2rem;
}

.mobile-header-nav-list.active{
    opacity: 1;
    visibility: visible;
    width: 30rem;
}

.mobile-header-nav-list{
    width: 0;
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-sub-color);
    box-shadow: 0 0.4rem 1rem 0 rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    height: 100vh;
    transform-origin: 3.2rem -2rem;
    transition: all 0.2s;
}

.mobile-header-nav-item{
    padding: 1.6rem;
    box-shadow: 0 0.2rem 0.8rem 0 rgba(0, 0, 0, 0.1);
}

.mobile-header-nav-header{
    color: var(--text-p-color);
    font-size: 2rem;
    margin-bottom: 0.4rem;
}

.mobile-header-nav-secondary-item{
    padding: 1.2rem;
}

.mobile-header-nav-link{
    color: var(--white-color);
    cursor: pointer;
}

.mobile-header-nav-link:hover{
    transform: translateX(1rem);
    color: var(--color-p-text);
}

.mobile.header-nav-list{
    display: none;
}

/* Auth form */
.auth-form{
    width: 50rem;
    border-radius: 1rem;
    background-color: var(--white-color);
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: all 0.3s;
}

.auth-form.active{
    opacity: 1;
    height: auto;
}

.auth-form-wrap{
    padding: 2rem 3.2rem;
}

.auth-form-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 10px;
}

.auth-form-heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--tertiary-color);
}

.auth-form-switch-btn{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
}

.auth-form-input{
    height: 40px;
    width: 100%;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form-input:focus{
    border-color: #777;
}

.auth-form-controls{
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
}

.auth-form-control-back{
    margin-right: 8px;
}

/* Slider */
/* .slider-row{
    position: relative;
    overflow: hidden;
    width: 300px;
    margin: 0 auto;
}

.slider-list{
    position: relative;
    display: flex;
}

.slider-item{
    flex: 1 0 100%;
}

.slider-img{
    width: 100%;
    object-fit: cover;
}

.slider-control{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.slider-button{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1rem 1.2rem;
    cursor: pointer;
}

.slider-dot-wrap{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}

.slider-dot-list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-left: -16px;
}

.slider-dot{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    margin-left: 16px;
    cursor: pointer;
}

.slider-dot.active{
    background-color: #fff;
} */

/* Cart */
.cart-item-wrap{
    display: flex;
    align-items: center;
    padding: 1.6rem;
    background-color: var(--white-color);
    box-shadow: 0 0.2rem 1rem 0 rgba(0, 0, 0, 0.2);
    margin: 0.8rem 0;
    border-radius: 0.4rem;
}
.cart-select-input{
    margin-right: 1.6rem;
    width: 1.6rem;
    height: 1.6rem;
}
.cart-img{
    width: 8rem;
    height: 8rem;
    flex-shrink: 0;
    margin-right: 0.8rem;
}
.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.cart-info-wrap{
    display: flex;
    width: 30rem;
}

.cart-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-name{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cart-author{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cart-update{
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s;
}

.cart-update:hover{
    color: var(--tertiary-color);
}

.cart-update-input{
    width: 6rem;
}

.cart-final-price{
    color: var(--primary-color);
    font-size: 1.8rem;
    word-wrap: break-word;
    /* hyphens: auto; */
    width: 40px;
}

.cart-control-wrap{
    margin: 1.6rem 0;
}

.cart-control{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-control button{
    margin: 0 1.6rem;
}

/* ---------Invoice------------- */
.invoice {

}

.invoice-list{

}

.invoice-item{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    padding: 10px 0;
    border-radius: 20px;
    background-color: var(--white-color);
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 10px;
}

.invoice-item.invoice-heading{
    background-color: var(--primary-color);
    color: var(--white-color);
}

/* ----Invoice detail------ */
.invoice-detail-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.invoice-detail-info-wrap{
    display: flex;
    /* align-items: center; */
}

.invoice-detail-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
}

.invoice-detail-name{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.invoice-detail-author{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Slider 2 */
.slider{
    position: relative;
}

.slider-row{
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}

.slider-list{
    position: relative;
    display: flex;
    transition: left 0.3s ease-out;
}

.slider-img{
    width: 100%;
    object-fit: cover;
}

.slider-heading{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}

.slider-control{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}

.slider-button{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
    margin-left: 10px;
    color: white;
}

.slider-button.disabled{
    background-color: #ccc;
    color: black;
}

